<div class="form-talk-about">
  <div class="post-form">
    <h2 class="title-form">Login</h2>
    <br>
    <form autocomplete="off" #form="ngForm" (submit)="onSubmit(form)">
      <mat-form-field>
        <input type="email" matInput placeholder="your email" autocomplete="off" name="email" #email="ngModel"
          [(ngModel)]="formData.email">
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" autocomplete="off"
          name="password" #password="ngModel" [(ngModel)]="formData.password">
        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </mat-form-field>
      <button class="btn btn-primary" type="submit">Login</button>
    </form>

    <a routerLink="/register" class="register-link">Register</a>
  </div>
</div>
