header {
  height: auto;
  background-color: black;
  padding: 10px;
  display: flex;
  align-items: center;
}

div.container {
  display: flex;
  flex: 1;
  justify-content: space-between;
  padding-left: 30px;
  padding-right: 30px;
}

header>div.container>a {
  text-decoration: none;
  color: #FFF;
}

header>div.container>a>h1 {
  font-family: 'Roboto', sans-serif;
  font-style: italic;
  font-size: 2em;
}

header>div.container>a>h1::first-letter {
  text-transform: uppercase;
}
