<div class="cards" *ngIf="cards">
  <mat-card class="card" *ngFor="let card of cards">
    <a [routerLink]="['post', card.id]" class="card-route">
      <mat-card-header class="card-header-post">
        <mat-card-title class="card-header-title">{{card?.title}}</mat-card-title>
      </mat-card-header>
      <mat-card-content class="card-content">
        <div class="container">
          <p class="post-card">{{card?.post}}</p>
        </div>
      </mat-card-content>
      <div class="card-footer" class="card-footer">
        <p>- {{card?.userName}}</p>
        <div class="footer-card-action">
          <a (click)="deltePost(card.id)" class="delete" alt="Delete"><i class="fas fa-trash-alt"></i></a>
        </div>
      </div>
    </a>
  </mat-card>
</div>
