<mat-card style="padding: 0px; margin: 15px; width: 280px; box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);">
  <a>
    <mat-card-header style="background: #000; padding: 10px; border-radius: 4px;">
      <h4 style="color: #FFF;">teste</h4>
    </mat-card-header>
    <mat-card-content style="height: 80px; padding: 5px 0 3px 0;">
      <div class="container">
        <p>post</p>
      </div>
    </mat-card-content>
    <div class="card-footer" style="background: #f3f3f3;">
      <p>- username</p>
    </div>
  </a>
</mat-card>
