<section>
  <div class="container-form">
    <div class="login">
      <h1>login</h1>
      <form #form="ngForm" autocomplete="off" class="loginFom" (submit)="onSubmit(form)">
        <div class="field">
          <input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="formData.email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password" name="password" #password="ngModel" [(ngModel)]="formData.password">
        </div>
        <div class="field">
          <button type="submit">Login</button>
        </div>
      </form>
    </div>
  </div>
</section>
