<header>
  <div class="container">
    <a routerLink="/">
      <h1>talk about</h1>
    </a>
    <nav>
      <ul>
        <a routerLink="/login" *ngIf="!userLogged">
          <li>login</li>
        </a>
        <a routerLink="/register" *ngIf="!userLogged">
          <li>register</li>
        </a>
        <a routerLink="/home" *ngIf="userLogged">
          <li>posts</li>
        </a>
        <a routerLink="/create-post" *ngIf="userLogged">
          <li>create post</li>
        </a>
        <a (click)="logout()" *ngIf="userLogged">
          <li class="logout">logout</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
