<header>
  <div class="container">
    <a routerLink="/">
      <h1>talk about</h1>
    </a>
    <nav>
      <ul>
        <a routerLink="/login">
          <li>login</li>
        </a>
        <a routerLink="/register">
          <li>register</li>
        </a>
        <a routerLink="/home">
          <li>posts</li>
        </a>
        <a routerLink="/create-post">
          <li>create post</li>
        </a>
        <a (click)="logout()">
          <li class="logout">logout</li>
        </a>
      </ul>
    </nav>
  </div>
</header>
