<mat-toolbar class="header">
  <div class="container-header">
    <a routerLink="/" class="logo">
      <h1>Talk About</h1>
    </a>
    <nav class="nav">
      <ul>
        <a class="nav-item">
          <li>login</li>
        </a>
        <a class="nav-item">
          <li>register</li>
        </a>
        <a class="nav-item">
          <li>posts</li>
        </a>
        <a class="nav-item">
          <li>create post</li>
        </a>
        <a class="nav-item">
          <li class="logout">logout</li>
        </a>
      </ul>
    </nav>
  </div>
</mat-toolbar>
