.header {
  width: 100%;
  height: auto;
  background-color: #1f1f1f;
  padding: 5px;
  display: flex;
  align-items: center;
  margin-bottom: 0;

  .container-header {
    display: flex;
    flex: 1;
    justify-content: space-between;
    padding-left: 30px;
    padding-right: 30px;

    .logo {
      text-decoration: none;
      color: #FFF;
      align-self: center;

      h1 {
        font-style: italic;
        font-size: 2em;
      }
    }

    .nav {
      ul {
        list-style: none;
        display: flex;
        margin-bottom: 0;

        .nav-item {
          text-decoration: none;
          color: #FFF;
          font-size: 1em;
          padding: 10px;

          .logout {
            cursor: pointer;
          }
        }
      }
    }

  }
}
