<mat-toolbar class="header">
  <div class="container-header">
    <a routerLink="/" class="logo">
      <h1>Talk About</h1>
    </a>
    <nav class="nav">
      <ul>
        <a routerLink="/login" class="nav-item" *ngIf="!userLogged">
          <li>login</li>
        </a>
        <a routerLink="/register" class="nav-item" *ngIf="!userLogged">
          <li>register</li>
        </a>
        <a routerLink="/home" class="nav-item" *ngIf="userLogged">
          <li>posts</li>
        </a>
        <a routerLink="/create-post" class="nav-item" *ngIf="userLogged">
          <li>create post</li>
        </a>
        <a class="nav-item" (click)="logout()" *ngIf="userLogged">
          <li class="logout">logout</li>
        </a>
      </ul>
    </nav>
  </div>
</mat-toolbar>
