.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  background: #dedede;
  width: 100%;
  border-top: 1px #c5c5c5 solid;

  .author {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: 0 15px 0 0;
    font-size: 14px;
  }
}
