.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  padding: 15px;
  background: #f3f3f3;
  width: 100%;

  .author {
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    padding: 0 15px 0 0;
    font-size: 14px;
  }
}
