section {
  width: 100%;
  height: 96% !important;
}

section>div.close-modal {
  align-self: flex-end;
}

section>div.close-modal>a {
  color: #000;
  text-decoration: none;
}

section>div.header-modal-comment {
  text-align: center;
}

.form-modal-container {
  flex-direction: row;
}

section>div.modal-actions>form {
  width: 100%;
}

.modal-actions {
  background: #f3f3f3;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px #d0d0d0 solid;
}

div.modal-actions>form {
  flex: 1;
  text-align: center;
}

div.modal-actions>form>input {
  margin-right: 36px;
  width: 50%;
  padding: 10px;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
  border: 1px #d6d6d6 solid;
}

div.modal-actions>form>input::placeholder {
  font-style: italic;
}

div.modal-actions>form>button {
  width: 18%;
  padding: 9px;
  border: none;
  background-color: #9cccef;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  border-radius: 5px;
}

.container-comment {
  padding: 15px;
  padding-top: 30px;
}

.container-comment>div>p {
  padding: 13px 0 13px 0;
  border-bottom: 1px #e0e0e0 solid;
}
