section {
  width: 100%;
  height: 100%;
}

section>div.close-modal {
  align-self: flex-end;
}

section>div.close-modal>a {
  color: #000;
  text-decoration: none;
}

section>div.header-modal-comment {
  text-align: center;
}

.modal-actions {
  background: #f3f3f3;
  padding: 15px;
  font-family: 'Roboto', sans-serif;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  border-top: 1px #d0d0d0 solid;
}
