<section>
  <div class="close-modal">
    <a href="javascript:void(0)" (click)="onClose()"><i class="fas fa-times"></i></a>
  </div>
  <div class="header-modal-comment">
    <h1>{{data?.title}}</h1>
  </div>
  <div class="container-comment">
    <div *ngFor="let comment of comments">
      <p>{{comment.commentary}}</p>
    </div>
  </div>
  <div class="modal-actions">
    <form #form="ngForm" autocomplete="off" (submit)="postComment(form)">
      <input type="text" placeholder="Send your comment" name="commentary" #commentary="ngModel"
        [(ngModel)]="formData.commentary">
      <button>Send</button>
    </form>
  </div>
</section>
