<section>
  <a routerLink="/"><i class="fas fa-arrow-left"></i> Go back</a>
  <div class="container-form">
    <div class="register">
      <h1>user registration</h1>
      <form #form="ngForm" autocomplete="off" (submit)="onSubmit(form)">
        <div class="field">
          <input type="text" placeholder="Name" name="name" #name="ngModel" [(ngModel)]="formData.name">
        </div>
        <div class="field">
          <input type="text" placeholder="Last Name" name="lastName" #lastName="ngModel"
            [(ngModel)]="formData.lastName">
        </div>
        <div class="field">
          <input type="email" placeholder="Email" name="email" #email="ngModel" [(ngModel)]="formData.email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password" name="password" #password="ngModel"
            [(ngModel)]="formData.password">
        </div>
        <div class="field">
          <button type="submit">register</button>
        </div>
      </form>
    </div>
  </div>
</section>
