/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  min-height: 100%;
}

section {
  display: flex;
  flex-direction: column;
  padding: 20px;
  height: 90%;
}

div.field {
  padding: 10px;
}
