section>header {
  align-self: center;
  padding: 15px;
}

section>header>h2 {
  font-size: 30px;
}

section>header>h4 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

section>div {
  display: flex;
  width: 70%;
  align-self: center;
}

section>div>p {
  font-size: 19px;
}

section>button {
  align-self: center;
  width: 30%;
  margin-top: 33px;
  border: none;
  background-color: #9cccef;
  color: #000;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  font-weight: bold
}

.comments {
  margin-top: 18px;
}

div.comments>p {
  font-style: italic;
  font-size: 15px !important;
  font-weight: bold;
}

div.comments>p>span {
  background: #000;
  padding: 2px 7px;
  border-radius: 50%;
  color: #FFF;
  margin-left: 3px;
}
