section>header {
  align-self: center;
  padding: 15px;
}

section>header>h2 {
  font-size: 30px;
}

section>header>h4 {
  font-style: italic;
  font-size: 16px;
  text-align: center;
  margin-top: 8px;
}

section>div {
  display: flex;
  width: 70%;
  align-self: center;
}

section>div>p {
  font-size: 19px;
}
