div.register>h1 {
  text-align: center;
  margin-bottom: 5px;
  color: #FFF;
}

div.register>h1::first-letter{
    text-transform: uppercase;
}

div.container-form>div.register {
  background-color: #1f1f1f;
  padding: 25px 40px 33px 40px;
  border-radius: 5px;
  width: 50%;
  height: auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

div.container-form>div.register>form>div.field>input,
div.container-form>div.register>form>div.field>button {
  width: 100%;
}

div.container-form>div.register>form>div.field>input {
  padding: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
}

div.container-form>div.register>form>div.field>input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 15px;
}

div.container-form>div.register>form>div.field>button {
  background-color: #9cccef;
  color: #000;
}
