<section>
  <div class="container-form">
    <div class="register">
      <h1>user registration</h1>
      <form>
        <div class="field">
          <input type="text" placeholder="Name">
        </div>
        <div class="field">
          <input type="text" placeholder="Last Name">
        </div>
        <div class="field">
          <input type="email" placeholder="Email">
        </div>
        <div class="field">
          <input type="password" placeholder="Password">
        </div>
        <div class="field">
          <button>register</button>
        </div>
      </form>
    </div>
  </div>
</section>
