div.container-form>div.login {
  background-color: #1f1f1f;
  padding: 25px 40px 33px 40px;
  border-radius: 5px;
  width: 40%;
  height: auto;
  box-shadow: 4px 4px 8px 0 rgba(0, 0, 0, 0.6);
}

div.login>h1 {
  color: #FFF;
  text-align: center;
  margin-bottom: 5px;
}

div.login>h1::first-letter {
  text-transform: uppercase;
}

div.login>form>div.field>input {
  width: 100%;
  padding: 10px;
  border: none;
  font-weight: bold;
  font-size: 18px;
  border-radius: 3px;
}

div.login>form>div.field>input:focus {
  border-color: #9cccef;
  border-width: 15px;
}

div.login>form>div.field>input::-webkit-input-placeholder {
  font-style: italic;
  font-size: 15px;
}

div.field>button {
  background-color: #9cccef;
  color: #000;
}
